<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="WebDriverTestSuite" >
  <test name="TestMain">
    <parameter name="browser" value="chrome"/>
    <classes>
      <class name="TestRun.TestMain"/>
    </classes>
  </test>
  
  <test name="TestMain2">
    <parameter name="browser" value="firefox"/>
    <classes>
      <class name="TestRun.TestMain2"/>
    </classes>
  </test>
</suite>
